@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background: #fff;
}

/* ******Header Styling************** */

header {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/backgound.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
nav {
  height: 10rem;
  display: flex;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s ease-in;
}
.nav-scroll {
  height: 9rem;
  background: #0779e4;
}
.normal_nav {
  height: 9rem;
  background: #0779e4;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
nav a.logo {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 2rem;
}
li a {
  color: #edd6d6;
}
nav ul {
  display: flex;
  gap: 4rem;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  align-items: center;
}

.header-container {
  height: 100%;
}

h1.heading {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
}

.left h2 {
  font-size: 4.5rem;
  color: #fff;
  font-weight: 500;
}
.left {
  color: #fff;
}

.content .para {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 2rem;
}

.btn {
  border: none;
  color: #fff;
  background: transparent;
  font-size: 1.8rem;
}
button {
  cursor: pointer;
}
.buttons {
  display: flex;
  margin-top: 2.5rem;
  gap: 2rem;
}
button.btn-product {
  background: #0779e4;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}
button.btn-contact {
  color: #0779e4;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background: #fff;
}

/* ********Signup*************** */
.signup {
  margin-top: 9rem;
  background: #ddd;
}

/* Media Querise */
@media screen and (max-width: 900px) {
  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: red;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-around;
    transform: translate(100%, 0);
  }
}

p {
  font-size: 1.6rem;
}
